extends layout 

append style 
  link(rel='stylesheet' type='text/css' href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css")
  link(rel='stylesheet' type='text/css' href="/stylesheets/dashboard.css")

append scripts 
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
  script(src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js")
  script.
    $(document).ready( function () {
      $('#applications').DataTable();
    });

block content 
  h1= title
  table#applications.display
    thead 
      th Id
      th Job Title
      th Organization 
      th Status
      th Application Submitted At 
      th Application Deadline
      th
    tbody 
      for application in applications 
        tr 
          td #{ application.id }
          td 
            a(href=`/career/job/${application.posting.id}`) #{ application.posting.title }
          td #{ application.posting.company.name }
          td #{ application.status }
          td #{ DateTime.fromJSDate(application.submittedAt).toLocaleString(DateTime.DATETIME_MED) }
          td #{ DateTime.fromJSDate(application.posting.deadline).toLocaleString(DateTime.DATETIME_MED) }
          td 
            button(class='cancel-application-button' data-application-id=application.id) Cancel Application

  script(src='/javascripts/cancelApplication.js')