extends layout 

block content 
  h1= title
  table#applications 
    thead 
      th Id
      th Job Title
      th Organization 
      th Status
    tbody 
      for application in applications 
        tr 
          td #{ application.id }
          td #{ application.posting.title }
          td #{ application.posting.company.name }
          td #{ application.status }