extends layout 

append style 
  link(rel='stylesheet' type='text/css' href="/stylesheets/dashboard.css")

append scripts 
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
  script(src="/javascripts/eventRegistration.js")

block content 
  .container 
    h1 Event: #{ event.title }

    dl 
      dt Description 
      dd #{ event.description }

      dt Date 
      dd #{ DateTime.fromJSDate(event.date).toLocaleString(DateTime.DATETIME_MED) }

      dt Location 
      dd #{ event.location }

      dt Capacity 
      dd #{ event.capacity }

    if (!isUserRegistered)
      button(class='registration-button' data-event-id=event.id data-is-registered=isUserRegistered) Register
    else 
      button(class='registration-button' data-event-id=event.id data-is-registered=isUserRegistered) Unregister