extends layout 

append style 
  link(rel='stylesheet' type='text/css' href="/stylesheets/dashboard.css")

block content 
  .container 
    h1 Event: #{ event.title }

    dl 
      dt Description 
      dd #{ event.description }

      dt Date 
      dd #{ event.date }

      dt Location 
      dd #{ event.location }

      dt Capacity 
      dd #{ event.capacity }