extends layout 

append style 
  link(rel='stylesheet' type='text/css' href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css")
  link(rel='stylesheet' type='text/css' href="/stylesheets/dashboard.css")

append scripts 
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
  script(src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js")
  script.
    $(document).ready( function () {
      $('#events').DataTable();
    });

block content 
  h1= title 
  table#events.display
    thead 
      th Event Title 
      th Date 
      th Location 
      th Capacity 
    tbody 
      for event in events 
        tr 
          td #{ event.title }
          td #{ event.date }
          td #{ event.location }
          td #{ event.capacity }